---
---

$responsive-width-base: 600px

*
  margin: 0
  padding: 0

body
  background-color: #f0f0f0

a, a:visited
  color: #575757
  text-decoration: none

a:hover
  text-decoration: underline

.wrapper-outer
  width: 100%
  max-width: 700px
  background-color: white
  margin: 0 auto
  margin-top: 10px
  margin-bottom: 60px

.wrapper-inner
  padding: 20px

.post-title
  h2
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
    letter-spacing: -0.02em
    font-weight: 700
    font-style: normal
    font-size: 50px
    margin-left: -3px
    line-height: 1
    letter-spacing: -0.04em
    margin-top: 40px
    padding-top: 0
    color: rgba(0,0,0,0.8)
    text-align: center

.post-divider
  margin-top: 30px
  margin-bottom: 20px
  height: 1px
  background-color: #eee

.post-content
  p
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif
    letter-spacing: .01rem
    font-weight: 400
    font-style: normal
    font-size: 20px
    line-height: 1.5

footer
  position: fixed
  left: 0
  right: 0
  bottom: 0
  border-top: 1px solid #efefef
  background-color: rgba(255,255,255,0.9)
  z-index: 10
  color: #575757
  font-size: 14px
  line-height: 1.43
  padding: 15px 40px

  .links
    float: left

  .copyright
    float: right

@media screen and (max-device-width: 650px)
  
  .wrapper-page
    width: 100%

  .post-title
    h2
      font-size: 30px
  .post-content
    p
      font-size: 18px
